@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

dialog {
  &::backdrop {
    background-image: linear-gradient(
      45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green
    );
    opacity: 0.75;
  }
}

/* No more max-width: 540px */
@media screen and (width < 540px) {
  .quote {
    @apply p-3 items-start;

    .quotationMark {
      @apply w-6 h-6;
    }

    .quoteeInfo-profilePicture {
      @apply hidden;
    }

    cite {
      &::before {
        content: '- ';
      }
    }
  }
}

.quoteContainer {
  container-name: quote-container;
  container-type: inline-size;
}

.container1 {
  container-name: container1;
  container-type: inline-size;

  p {
    padding: 5cqi;
  }
}

.container2 {
  container-name: container2;
  container-type: inline-size;
}

.container3 {
  container-name: container3;
  container-type: inline-size;
}

.container4 {
  container-name: container4;
  container-type: size;
}

/* No more max-width: 540px */
@container quote-container (width < 540px) {
  .quote {
    @apply p-3 items-start;

    .quotationMark {
      @apply w-6 h-6;
    }

    .quoteeInfo-profilePicture {
      @apply hidden;
    }

    cite {
      &::before {
        content: '- ';
      }
    }
  }
}

@container container2 (width > 250px) {
  p {
    font-weight: bold;
  }
}

@container container3 (height > 50px) {
  p {
    font-weight: bold;
  }
}

@container container4 (height > 100px) {
  p {
    font-weight: bold;
  }
}

.concur {
  .concur-warning {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.1s ease-in;
  }
}

.concur:has(input:checked) + .after-concur {
  background-color: theme(colors.indigo.400);
}

.concur:has(input:checked) {
  background-color: theme(colors.red.400);
  border-color: theme(colors.red.700);

  .concur-warning {
    grid-template-rows: 1fr;
  }
}

#addressFieldset:has(.error) {
  border-left: 2px solid theme(colors.red.700);
}

.square:has(+ .circle) {
  width: 64px;
  height: 64px;
}
